configuration {
    font: "FiraCode Nerd Font 12";
    line-margin: 10;
    modi: "window,drun,run,combi";
    combi-modi: "window,drun,run";
    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}

@theme "nord"

listview {
	lines: 3;
	columns: 4;
}

window {
	width: 30%;
}

